@keyframes animate-bg {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -75px 0;
    }
    
}

* {
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #2456ac;
    color: white;
}

:root {
    --primary: #2456ac;
}

/* #scanner {
    width: 100%;
    max-width: 600px;
    min-height: 400px;
    margin: 0 auto;
} */

#scanner video {
    width: 100%;
    height: auto;
}

/* Buttons */

button {
    border: none;
    background-color: white;
    font-size: 1.5rem;
    color: var(--primary);
    padding: 8px 40px;
    border-radius: 50px;
    vertical-align: middle;
}

/* Welcome Page */

#p-welcome {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("images/bg.png");
    background-repeat: repeat;
    background-size: 75px;
    animation: animate-bg 3s linear infinite;
}

#p-welcome main {
    background-color: var(--primary);
    box-shadow: 0 0 100px 50px var(--primary);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 85%;
    max-width: 300px;
    margin-bottom: 35px;
}

#p-welcome footer {
    position: absolute;
    bottom: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 35px;
}

#p-welcome footer span {
    font-size: 1.3rem;
}

#p-welcome footer aside {
    font-size: 0.75rem;
}

#p-main {
    
}

#pages {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.page {
    display: none !important;
    width: 100%;
}

.page.active {
    display: flex !important;
}